.panel
  .panel_contents
    %h3 Upload CSV File
    = form_tag import_csv_admin_mcus_path, id: 'csv_form', multipart: true, method: :post do
      %div
        %h3
        = label_tag :organization_id, "Select Organization"
        = select_tag :organization_id, options_from_collection_for_select(Organization.all, :id, :name, selected: params[:organization_id])
      %div
        %h3
        = label_tag :provider_id, "Select Provider"
        = select_tag :provider_id, options_from_collection_for_select(Provider.all, :id, :provider_name, selected: params[:provider_id])
      %div
        %h3
        = file_field_tag :file
      %div
        %h3
        = submit_tag 'Preview CSV', id: 'preview_button', class: 'button', formaction: preview_csv_admin_mcus_path
        = submit_tag 'Import CSV', id: 'import_button', class: 'button'


- if @preview_data
  .panel
    .panel_contents
      %h3 CSV Preview
      %table
        %thead
          %tr
            - @preview_headers.each do |header|
              %th= header
        %tbody
          - @preview_data.each do |row|
            %tr
              - row.each do |field|
                %td= field[1]

= link_to 'Back', admin_mcus_path, class: 'button'
